body { 
	margin: 0; 
	padding: 0; 
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;  
}

img { 
	border: 0px solid white; 
}

a { 
	color: #44A; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

a.home { 
	color: #000; 
	text-decoration: none; 
}

a.home:hover { 
	text-decoration: underline; 
}

fieldset {
	margin: 0.5em 0 1em 0;
	border: 1px solid #f0f0f0;
	padding: 2em;
}

legend {
	font-size: 12pt;
	font-weight: bold;
}

label {
	font-size: 12pt;
	font-weight: bold;
}

fieldset label {
	font-size: 10pt;
	font-weight: bold;
}


#qrcanlogo {
	position: absolute;
	top: 0px;
	left: 5px;
}

#header {
	padding: 0.2em 0.5em 0.2em 0.2em;
	background: #f0f0f0;
	text-align: right;
	font-size: 80%;
	border-bottom: 1px solid #cfcfcf;
}

#main { 

}

#control {
	margin: 1em 0 0 0;
	padding: 0 0.5em 0 0.5em;
	width: 10.5em;
	float: left;
	
}

#control h2 {
	font-size: 16pt;
	margin: 0;
	padding: 0 0 0 0.5em;
	background: #e3e3ff;
	border: 1px solid #c0c0e0;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
}

#cmds {
	border-bottom: 1px solid #efefef;
	padding: 0;
	text-align: right;
}

#workspace {
	padding: 1em;
	margin: 0 0 0 11em;
}

#datasources {
	padding: 1em;
	color: #e0e0e0;
	font-size: 10pt;
}

#ds-form {
	font-size: 10pt;
	padding: 1em;
	font-family: Arial, sans-serif;
}

#ds-id {
	display: none;
	color: #d0d0d0;
	padding: 0 0 0 1em;
	font-size: 90%;
}

#ds-delete-field {
	display: none;	
}

#ws-tabs {
	padding: 1em 0.5em 0 1em;	
}

#ws-main, #config-main {
	padding: 2em 0.5em 0 1em;
	font-family: Arial, sans-serif;
}

.cmdbtn {
	border: 1px solid #f0f0f0;
	margin: 0.2em 0 0 0.1em;
	padding: 0.1em;
}

.fnote {
	margin: 1em 0 0 0;
	padding: 0.5em 0 0 0;
	color: #606060;
	font-size: 90%;
	width: 60%;
}

.cmdbar {
	text-align: right;
}

.pane-title {
	font-size: 20pt;
	color: #e0e0e0;
	text-align: right;
}

.datasource {
	cursor: pointer;
	color: #000;
	margin: 0.5em 0 0 0;
}

.ws-ds {
	margin: 0 0 1em 1em;
	font-size: 9pt;
}

.ws-tab {
	border-left: 1px solid #a0a0a0;
	border-top: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
	padding: 0.2em 0.6em 0 0.6em;
	color: #a0a0a0;
	margin: 0 0.1em 0 0;
	font-size: 11pt;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;  
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	cursor: pointer;
}

.active-tab {
	border-left: 1px solid #303030;
	border-top: 1px solid #303030;
	border-right: 1px solid #303030;
	color: #303030;
	font-weight: bold;
}

.status-field {
	font-size: 120%;
	color: #606060;
}

.change-status-field {
	text-align: right;
	font-size: 90%;
	color: #909090;
}

.lesstriples {
	margin-left: 1em;
	font-size: 80%;
	color: #f00;
}

.moretriples {
	margin-left: 1em;
	font-size: 80%;
	color: #393;
}
